<center>
      <div class="card border-success mb-3" style="max-width: 45rem;">
        <div class="card-header bg-transparent border-success"><b>City:{{city}}</b></div>
        <div class="card-body text-success">
          <img class="card-img-top" src="https://cdn.videoplasty.com/gif/partly-sunny-icon-gif-stock-gif-3705-640x360.gif" alt="Card image cap">
          <h5 class="card-title" style="color:red">Temperature</h5>
          <p class="card-text"><b style ="color:red;">{{temp}}</b></p>
          <h5 class="card-title" style="color:blue;">Condition:</h5>
          <p class="card-text"><b style ="color:blue;">{{condition}}</b></p>
          <h5 class="card-title" style="color:blue;">Time:</h5>
          <p class="card-text"><b style ="color:blue;">{{time}}</b></p>

        </div>
        <div class="card-footer bg-transparent border-success"><b>{{date}}</b></div>

      </div>
</center>
